<div class="container text-center center">
  <div class="row">

      <h2><%= @article.title %></h2>
      <p><%= @article.context %></p>

      <%= link_to "Back to list", articles_path %>
      <%= link_to "Edit", edit_article_path %>
      <%= link_to "Delete", article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" }%>

  </div>
</div>
